@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/rubik-light-webfont.woff2') format('woff2'),
         url('../fonts/rubik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    color: #4b4b4b;
    font-family: 'rubiklight';
}
body a{
    color: #1b6e4e;
    font-weight: bold;
}
body a:hover{
    text-decoration: none;
}

body h4{
    font-size: 20px;
    margin-top: 15px;
}
header{
    color: rgb(182, 181, 181);
    text-align: center;
    height: 30px;
    font-size: 15px;
    border-bottom: 1px solid #cdcccc;
}
footer{
    color: rgb(182, 181, 181);
    text-align: center;
    height: 30px;
    font-size: 15px;
    border-top: 1px solid #cdcccc;
    width: 100%;
}
.img-content{
    float: left;
    width: 100%;
}

.img-content img{
    float: left;
    width: 25%;
    margin: 2px 5px 0 0;
}

.skills{
    float: left;
    margin: 0;
    width: 100%;
}

.skills ul{
    display: inline;
}
.skills ul li{
    display: block;
    margin: 5px 0;
    padding: 3px 0 3px 0;
    background-color: #f4f4f4;
}
.skills ul li .green{
    background-color: #1b6e4e;
    color: #fff;
    display: block;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 10px;
    opacity: 0.8;
}
.skills ul li .green:hover{
    opacity: 1;
}

.box-content-item{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.box-content-item ul{
    display: inline;
}
.box-content-item ul li{
    display: block;
    margin-bottom: 5px;
}

.social-midias-content{
    float: left;
    width: 100%;
}
.social-midias-content ul{
    float: left;
    margin: 5px 0 0 -40px;
}
.social-midias-content ul li{
    display: inline;
    margin:0 1px;
}
.social-midias-content ul li img{
    width: 22px;
}

.social-midias-content ul li a{
    text-decoration: none;
    opacity: 0.8;
}
.social-midias-content ul li a:hover{
    opacity: 1;
}

#main-container{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

/* Left */
#left-container{
    width: 200px;
    float: left;
    height: 650px;
    padding-top: 30px;
}

#left-container #left-content{
    float: left;
    width: 100%;
}

#left-container #left-content #left-content-img{
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
#left-container #left-content #left-content-img img{
    border: 1px solid #cdcccc;
}

#left-container #left-content #left-content-text{
    float: left;
    width: 100%;
}

#left-container #left-content #left-content-text h1{
    font-family: 'gothambook';
    font-size: 20px;
    color: #000;
    margin: 2px 0 0 4px;
    padding: 0;
    font-weight: bolder;
    
}

#left-container #left-content #left-content-text h2{
    font-family: 'gothambook';
    font-size: 14px;
    color: #1b6e4e;
    margin: 0;
    padding: 5px 0;
    font-weight: normal;
}

#left-container #left-content #left-content-text p{
    font-size: 16px;
    color: rgb(40, 40, 40);
    line-height: 20px;
}

/* Center */
#center-container{
    width: 600px;
    float: left;
    margin: 0 20px;
    border-left: 1px solid #cdcccc;
    border-right: 1px solid #cdcccc;
    padding: 20px;
}

#center-container p{
    line-height: 22px;
}
#center-container h4{
    margin: 25px 0 0 0;
    font-weight: bolder;
    float: left;
}

#center-container #top-center-content{
    float: left;
    width: 100%;
}

#center-container #left-center-content{
    float: left;
    width: 48%;
}

#center-container #right-center-content{
    float: right;
    width: 48%;
}


/* Right */
#right-container{
    width: 200px;
    float: left;
    padding-top: 30px;
}